body {
  background-image: url("../../images/background3.jpeg");
}

.text {
  background-color: white;
}

.top {
  background-color: white;
font-family: 'Lobster', cursive;
}

.navbar {
  background-color: white;
  font-family: 'Lobster', cursive;
}
