@import url(https://fonts.googleapis.com/css?family=Lobster);
@import url(https://fonts.googleapis.com/css?family=Vollkorn);
body {
  background-image: url("../../images/background3.jpeg");
}

.text {
  background-color: white;
  font-family: 'Vollkorn', serif;
  color: gray;
  font-weight: bold;
  padding: 20px;
}

.top {
background-color: white;
color: maroon;
font-family: 'Lobster', cursive;
font-weight: bold;
}

.navbar {
  background-color: maroon;
  font-family: 'Vollkorn', serif;
  font-weight: bold;
}

.bottom {
font-family: 'Vollkorn', serif;
color: maroon;
font-weight: bold;
}

h1 {
font-size: 50px;
}

h2 {
  font-size: 35px;
  background-color: white;
}
