body {
  background-image: url("../../images/background3.jpeg");
}

.text {
  background-color: white;
  font-family: 'Lobster', cursive;
  color: gray;
}

.top {
  background-color: white;
font-family: 'Lobster', cursive;
font-weight: bold;
}

.navbar {
  background-color: white;
  font-family: 'Lobster', cursive;
  font-weight: bold;
}

.bottom {
  font-family: 'Lobster', cursive;
}
