<!DOCTYPE html>
<html>
<head>
  <title>{{ page.title }}</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="assets/css/bootstrap.min.css">
  <link rel="stylesheet" href="assets/css/style.css">
</head>
<body>
  <div class="row">
    <div class="column">
    </div>
  </div>
  <h2> Alpha Phi International Fraternity </h2>
  <navbar class="navbar navbar-default">
    <div class="container">
    </div>
  </div>
      <div class="navbar-header">
      <a class="navbar-brand" href="#">About Us</a>
      <a class="navbar-brand" href="#">Phi-Lanthropy</a>
      <a class="navbar-brand" href="#">Sisterhood</a>
      <a class="navbar-brand" href="#">Recruitment</a>
      <a class="navbar-brand" href="#">Social</a>
    </div>
  </div>
</navbar>
<div class="container">
  <div class="row">
    <div class="column">
    </div>
  </div>
  <h1>{{ page.title }}</h1>
  {{ content }}
</div>
</body>
</html>
