<!DOCTYPE html>
<html>
<head>
  <title>{{ page.title }}</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="assets/css/bootstrap.min.css">
  <link rel="stylesheet" href="assets/css/style.css">
</head>
<body>
<div class="containter">
  <h1>Alpha Phi International Fraternity</h1>
  <navbar class="navbar navbar-default">
    <div class="container">
      <div class="navbar-header">
      <a class="navbar-brand" href="aboutus_page.html">About Us</a>
      <a class="navbar-brand" href="philanthropy_page.html">Philanthropy</a>
      <a class="navbar-brand" href="sisterhood_page.html">Sisterhood</a>
      <a class="navbar-brand" href="recruitment_page.html">Recruitment</a>
      <a class="navbar-brand" href="social_page.html">Social</a>
    </div>
  </div>
</navbar>
<div class="container">
  <div class="row">
    <div class="column">
    </div>
  </div>
  <h2>{{ page.title }}</h2>
  {{ content }}
</div>
</body>
</html>
